In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
import random

In [35]:
ALK = pd.read_csv("ALK.csv")
ALK['Company'] = 'ALK'
ALK['Date'] = pd.to_datetime(ALK['Date'])
ALK.head(10)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Company
0,2021-01-04,52.17,52.19,48.81,49.24,2218700,0.0,0.0,ALK
1,2021-01-05,48.84,50.69,48.79,49.86,1644900,0.0,0.0,ALK
2,2021-01-06,49.85,52.12,49.52,51.52,2015000,0.0,0.0,ALK
3,2021-01-07,51.72,52.46,51.28,51.32,1227900,0.0,0.0,ALK
4,2021-01-08,51.79,51.93,50.48,50.98,1043900,0.0,0.0,ALK
5,2021-01-11,50.10,50.85,49.60,50.15,1955800,0.0,0.0,ALK
6,2021-01-12,50.43,51.90,50.14,51.69,1958800,0.0,0.0,ALK
7,2021-01-13,51.46,52.37,50.63,51.85,1652500,0.0,0.0,ALK
8,2021-01-14,52.51,56.14,52.32,55.42,3174900,0.0,0.0,ALK
9,2021-01-15,55.53,56.18,53.57,53.65,2052400,0.0,0.0,ALK

In [36]:
CTSH = pd.read_csv("CTSH.csv")
CTSH['Company'] = 'CTSH'
CTSH['Date'] = pd.to_datetime(CTSH['Date'])
CTSH.head(10)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Company
0,2021-01-04,76.226,76.477,73.158,73.827,2305700,0.0,0.0,CTSH
1,2021-01-05,73.911,74.487,73.613,74.041,1856700,0.0,0.0,CTSH
2,2021-01-06,73.734,75.426,73.641,74.506,2981200,0.0,0.0,CTSH
3,2021-01-07,75.054,76.077,74.841,75.250,2853500,0.0,0.0,CTSH
4,2021-01-08,75.408,76.281,75.259,76.179,2704700,0.0,0.0,CTSH
5,2021-01-11,75.528,76.319,74.292,74.497,2156600,0.0,0.0,CTSH
6,2021-01-12,74.543,74.831,73.074,74.032,2238300,0.0,0.0,CTSH
7,2021-01-13,75.017,75.017,73.734,74.004,2030300,0.0,0.0,CTSH
8,2021-01-14,73.753,74.571,73.502,74.413,2360500,0.0,0.0,CTSH
9,2021-01-15,74.022,74.915,73.613,74.590,2174400,0.0,0.0,CTSH

In [37]:
EXPE = pd.read_csv("EXPE.csv")
EXPE['Company'] = 'EXPE'
EXPE['Date'] = pd.to_datetime(EXPE['Date'])
EXPE.head(10)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Company
0,2021-01-04,133.715,135.007,127.495,130.536,3472400,0.0,0.0,EXPE
1,2021-01-05,130.635,137.064,130.625,136.269,3487300,0.0,0.0,EXPE
2,2021-01-06,137.233,146.613,135.971,142.509,4559100,0.0,0.0,EXPE
3,2021-01-07,143.195,143.751,138.952,141.386,2173500,0.0,0.0,EXPE
4,2021-01-08,142.489,143.831,140.154,143.105,1484000,0.0,0.0,EXPE
5,2021-01-11,139.419,143.582,139.220,142.052,1473900,0.0,0.0,EXPE
6,2021-01-12,141.943,143.135,139.965,140.055,1519900,0.0,0.0,EXPE
7,2021-01-13,139.310,140.194,137.471,139.717,1966200,0.0,0.0,EXPE
8,2021-01-14,140.224,145.480,140.224,143.254,2665800,0.0,0.0,EXPE
9,2021-01-15,143.085,143.433,139.220,139.796,1669400,0.0,0.0,EXPE

In [38]:
IQV = pd.read_csv("IQV.csv")
IQV['Company'] = 'IQV'
IQV['Date'] = pd.to_datetime(IQV['Date'])
IQV.head(10)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Company
0,2021-01-04,178.44,179.81,174.28,176.60,1046500,0.0,0.0,IQV
1,2021-01-05,175.73,180.33,175.73,179.34,775100,0.0,0.0,IQV
2,2021-01-06,177.13,187.05,177.00,186.25,1123800,0.0,0.0,IQV
3,2021-01-07,187.80,189.81,187.32,188.06,741300,0.0,0.0,IQV
4,2021-01-08,188.00,192.00,187.53,191.08,805500,0.0,0.0,IQV
5,2021-01-11,190.07,192.07,188.27,191.44,617100,0.0,0.0,IQV
6,2021-01-12,191.00,192.34,187.94,189.42,607700,0.0,0.0,IQV
7,2021-01-13,189.04,191.37,188.96,189.36,529200,0.0,0.0,IQV
8,2021-01-14,189.38,190.55,187.70,188.11,568200,0.0,0.0,IQV
9,2021-01-15,187.92,188.75,185.61,187.79,1028200,0.0,0.0,IQV

In [39]:
JBHT = pd.read_csv("JBHT.csv")
JBHT['Company'] = 'JBHT'
JBHT['Date'] = pd.to_datetime(JBHT['Date'])
JBHT.head(10)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Company
0,2021-01-04,130.100,131.599,127.951,128.772,834000,0.0,0.0,JBHT
1,2021-01-05,129.068,132.688,128.333,131.857,678800,0.0,0.0,JBHT
2,2021-01-06,136.269,141.159,135.257,140.662,928700,0.0,0.0,JBHT
3,2021-01-07,140.977,144.005,139.621,141.789,880800,0.0,0.0,JBHT
4,2021-01-08,142.429,145.819,141.694,142.629,675200,0.0,0.0,JBHT
5,2021-01-11,142.362,143.260,141.006,141.474,456800,0.0,0.0,JBHT
6,2021-01-12,141.560,143.097,140.481,142.324,644000,0.0,0.0,JBHT
7,2021-01-13,143.556,144.014,141.216,142.505,726200,0.0,0.0,JBHT
8,2021-01-14,143.890,146.516,143.336,145.112,632200,0.0,0.0,JBHT
9,2021-01-15,144.683,145.246,141.703,144.692,689800,0.0,0.0,JBHT

In [42]:
df = pd.concat([ALK, CTSH, EXPE, IQV, JBHT])
df.head(10)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Company
0,2021-01-04,52.17,52.19,48.81,49.24,2218700,0.0,0.0,ALK
1,2021-01-05,48.84,50.69,48.79,49.86,1644900,0.0,0.0,ALK
2,2021-01-06,49.85,52.12,49.52,51.52,2015000,0.0,0.0,ALK
3,2021-01-07,51.72,52.46,51.28,51.32,1227900,0.0,0.0,ALK
4,2021-01-08,51.79,51.93,50.48,50.98,1043900,0.0,0.0,ALK
5,2021-01-11,50.10,50.85,49.60,50.15,1955800,0.0,0.0,ALK
6,2021-01-12,50.43,51.90,50.14,51.69,1958800,0.0,0.0,ALK
7,2021-01-13,51.46,52.37,50.63,51.85,1652500,0.0,0.0,ALK
8,2021-01-14,52.51,56.14,52.32,55.42,3174900,0.0,0.0,ALK
9,2021-01-15,55.53,56.18,53.57,53.65,2052400,0.0,0.0,ALK

In [44]:
df.loc[df['High'] == df['Low']]
# Task 1: No there is not

[0       False
 1       False
 2       False
 3       False
 4       False
         ...
 999     False
 1000    False
 1001    False
 1002    False
 1003    False
 Length: 5020, dtype: bool]

In [48]:
print(max(ALK["High"]))
print(max(CTSH["High"]))
print(max(EXPE["High"]))
print(max(IQV["High"]))
print(max(JBHT["High"]))

74.25
88.26
216.337
285.61
215.387

In [49]:
print(min(ALK["Low"]))
print(min(CTSH["Low"]))
print(min(EXPE["Low"]))
print(min(IQV["Low"]))
print(min(JBHT["Low"]))

30.75
48.848
81.867
165.75
127.359

In [63]:
df["Log_Close"] = np.log(df["Close"])
df["Return"] = df["Close"] - df["Open"]
print(df["Return"].describe())
print(df["Return"].skew())

count    5020.000000
mean       -0.008989
std         2.440179
min       -19.376000
25%        -1.020000
50%         0.000000
75%         1.019250
max        20.470000
Name: Return, dtype: float64
-0.26416584727432213

In [71]:
ALK = df.loc[df['Company'] == "ALK"]
print(ALK['Return'].nlargest(2))
CTSH = df.loc[df['Company'] == "CTSH"]
print(CTSH['Return'].nlargest(2))
EXPE = df.loc[df['Company'] == "EXPE"]
print(EXPE['Return'].nlargest(2))
IQV = df.loc[df['Company'] == "IQV"]
print(IQV['Return'].nlargest(2))
JBHT = df.loc[df['Company'] == "JBHT"]
print(JBHT['Return'].nlargest(2))

288    3.72
56     3.50
Name: Return, dtype: float64
288    3.210
448    3.178
Name: Return, dtype: float64
244    13.046
282    11.854
Name: Return, dtype: float64
783    20.47
220    15.36
Name: Return, dtype: float64
302    16.981
290     9.484
Name: Return, dtype: float64

In [76]:
ALK = df.loc[df['Company'] == "ALK"]
print(ALK['Return'].nsmallest(2))
CTSH = df.loc[df['Company'] == "CTSH"]
print(CTSH['Return'].nsmallest(2))
EXPE = df.loc[df['Company'] == "EXPE"]
print(EXPE['Return'].nsmallest(2))
IQV = df.loc[df['Company'] == "IQV"]
print(IQV['Return'].nsmallest(2))
JBHT = df.loc[df['Company'] == "JBHT"]
print(JBHT['Return'].nsmallest(2))

295   -4.81
230   -3.67
Name: Return, dtype: float64
337   -4.863
346   -3.767
Name: Return, dtype: float64
295   -19.376
335   -17.975
Name: Return, dtype: float64
282   -16.37
415   -15.33
Name: Return, dtype: float64
314   -18.938
346   -13.427
Name: Return, dtype: float64

In [82]:
print(ALK['Return'].iloc[-1] - ALK['Return'].iloc[0])
print(CTSH['Return'].iloc[-1] - CTSH['Return'].iloc[0])
print(EXPE['Return'].iloc[-1] - EXPE['Return'].iloc[0])
print(IQV['Return'].iloc[-1] - IQV['Return'].iloc[0])
print(JBHT['Return'].iloc[-1] - JBHT['Return'].iloc[0])

# The highest return recorded company EXPE

2.8699999999999974
0.7189999999999941
6.64700000000002
2.2399999999999807
0.9320000000000164

In [89]:
df['tertile'] = pd.qcut(df['Volume'], q=3, labels=False)
df['volume_class'] = df['tertile'].map({0: 'Low', 1: 'Medium', 2: "High"})
df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Company,Log_Close,Return,Log_Return,tertile,volume_class
0,2021-01-04,52.17,52.19,48.81,49.24,2218700,0.0,0.0,ALK,3.896706,-2.93,NaN,2,High
1,2021-01-05,48.84,50.69,48.79,49.86,1644900,0.0,0.0,ALK,3.909219,1.02,0.019803,1,Medium
2,2021-01-06,49.85,52.12,49.52,51.52,2015000,0.0,0.0,ALK,3.941970,1.67,0.512824,1,Medium
3,2021-01-07,51.72,52.46,51.28,51.32,1227900,0.0,0.0,ALK,3.938081,-0.40,NaN,1,Medium
4,2021-01-08,51.79,51.93,50.48,50.98,1043900,0.0,0.0,ALK,3.931433,-0.81,NaN,0,Low

In [91]:
df = pd.read_csv("companies_no_subindustry.csv")
df.head()

,Symbol,Security,GICS_Sector,hq,included,Founded
0,MMM,3M,Industrials,"Saint Paul, Minnesota",09.08.1976,1902
1,AOS,A. O. Smith,Industrials,"Milwaukee, Wisconsin",26.07.2017,1916
2,ABT,Abbott,Health Care,"North Chicago, Illinois",31.03.1964,1888
3,ABBV,AbbVie,Health Care,"North Chicago, Illinois",31.12.2012,2013 (1888)
4,ABMD,Abiomed,Health Care,"Danvers, Massachusetts",31.05.2018,1981

In [92]:
df["included"].isnull().sum()

45

In [101]:
df = df.dropna(subset=['included'])
min_row = df.loc[df['Founded'].idxmin()]
print(min_row)
max_row = df.loc[df['Founded'].idxmax()]
print(max_row)
print(df["Founded"].describe())

Symbol                              BK
Security                    BNY Mellon
GICS_Sector                 Financials
hq             New York City, New York
included                    31.03.1995
Founded                           1784
Name: 71, dtype: object
Symbol                             WBD
Security        Warner Bros. Discovery
GICS_Sector     Communication Services
hq             New York City, New York
included                    11.04.2022
Founded                           2022
Name: 481, dtype: object
count      458
unique     186
top       1998
freq        10
Name: Founded, dtype: object

In [104]:
df.groupby(['GICS_Sector']).size()

GICS_Sector
Communication Services    23
Consumer Discretionary    52
Consumer Staples          33
Energy                    22
Financials                55
Health Care               60
Industrials               66
Information Technology    68
Materials                 26
Real Estate               30
Utilities                 23
dtype: int64